.all {
  position: absolute;
  top: 90px;
  left: 150px;
  height: 440px;
}
.campaign {
  width: 1050px;
  height: 490px;
  background-color: white;
}
.c-left {
  display: flex;
  flex-direction: column;
}
.c-left > span:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
}
.c-left > span:nth-child(2) {
  font-size: 14px;
  color: #000000;
}

.c-top1 {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  background-color: #0f6eff;
  border-radius: 8px;
  outline: none;
  color: white;
  height: 43px;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 10px;
}
.button > img {
  padding: 3px;
}
.button:hover {
  cursor: pointer;
}
.search-top {
  position: relative;
  width: 55px;
  height: 55px;
  left: 35px;
  top: 27px;
  height: 36px;
  width: 270px;
  border: #e9e9e9 solid;
  border-top: #e9e9e9 solid;
}

.s-input {
  padding-left: 7px;
  border: none;
  width: 265px;
  height: 30px;
}

.toppest {
  display: flex;
  justify-content: space-between;
}

.all-search-right {
  position: relative;
  top: 26px;
  right: 56px;
  display: flex;
  gap: 15px;
}
