::placeholder {
  color: #929eb6;
  opacity: 1;
}

.one-top {
  position: relative;
  width: 1030px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  left: 24px;
  top: 49px;
}

.text > h2 {
  font-weight: 700;
  font-size: 16px;
  display: inline;
}

.text {
  top: 95px;
  width: 982px;
  height: 35px;
  border-bottom: #eaeaea solid;
  font-family: "Eudoxus sans";
}

.text > span {
  font-weight: 400;
  font-size: 14px;
  color: #c0c0c0;
}

.measure {
  position: relative;
  top: 70px;
  left: 844px;
  width: 210px;
  height: 45px;
  border-radius: 10px;
}
